<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <title><%=pageTitle %></title>
  </head>
  <body>
    <br /><br /><br />  

    <h3 class="mt-2 text-center">Upload New Music</h3>
    <br /><br />
    <div class="d-flex align-items-center justify-content-center">
      <form
        action="/upload"
        class="w-50"
        method="POST"
        id="form"
        enctype="multipart/form-data"
        >
        <div class="form-group">
          <label for="name">Music Name: </label>
          <input
            type="text"
            class="form-control w50"
            placeholder=" please input music name"
            name="name"
            id="name"
          />
        </div>
        <br />

        <div class="form-group">
          <label >Artist Name: </label>
          <input
            type="text"
            class="form-control w50"
            placeholder=" please input artist name"
            name="artist"
            id="artist"
          />
        </div>
        <br />

        <div class="mb-3">
          <input class="form-control" type="file" id="selectedMusic" name="path" />
          <label for="selectedMusic" id="musicStatus" class="custom-file-label">
            choose your music ...
          </label>
        </div>

        <div class="col">
          <input
            type="submit"
            value="Add :)"
            id="addToDB"
            class="btn btn-success m-2 btn btn-primary"
            />
          <a href="/" class="btn btn-warning m-2 btn btn-primary">Cansel</a>
        </div>
      </form>
    </div>
  </body>
</html>
